.item {
  height: 410px;
  overflow: hidden;
  padding: 20px;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }

  .in-stock-text {
    font-size: 24px;
    color: #8d8f9a;
    position: absolute;
    left: 25%;
    top: 40%;
  }

  img {
    height: 300px;
    object-fit: contain;
  }

  .item_descript {
    padding: 30px 0;
    position: relative;

    p {
      font-size: 18px;
      font-weight: 600;

      &:first-child {
        font-weight: 300;
      }
    }

    .card-btn {
      width: 70px;
      height: 70px;
      position: absolute;
      right: 0;
      top: -20px;
      visibility: hidden;
    }
  }

  &:hover .card-btn{
    visibility: visible;
  }
}
