@import './_colors';

.cart {
  position: relative;

  .item-count-data {
    position: absolute;
    left: 13px;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: $text_color;
  }
}